<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.credr.android.launcher" >

    <application
        android:name=".CredRLauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="SERVER" android:value="http://dev2.creder.asia" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/LauncherTheme"/>
        <service android:name=".service.AppListenerService"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c805aefb5c5c2d9cfec745fc47c37ee3a4985180" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
